
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List</title>
</head>
<body>
    <header>
        <h1>Django Snacks CRUD</h1>
        <nav>
            <a href="{% url 'food_item_list' %}">Food Item List</a>
            
        </nav>
    </header>
    <main>
        {% block content %}
            <h2>Food_list Item</h2>
        {% endblock content %}

    </main>
    
</body>
</html> 